router bgp ${udmp_asn}
  bgp router-id ${udmp_ip}
  bgp bestpath as-path multipath-relax
  no bgp ebgp-requires-policy
  neighbor k8s peer-group
  neighbor k8s remote-as external
%{ for ip in node_ips ~}
  neighbor ${ip} peer-group k8s
%{ endfor ~}